@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Quicksand')

--global-reset()

body
  padding: 50px
  font: 14px 'Quicksand','Lucida Grande', Helvetica, Arial, sans-serif
a
  color: #00B7FF

#dataTable    
    font-size .75em

table, th, td 
    border 1px solid #808080
    border-collapse collapse

th, td 
    padding 5px
    text-align left
