<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

    <!-- Virtual Directory Setup
            assign virtualDirPath below a value like '/{path}'
            
            Add below to your app code and then prepend routes with virtualDirPath
            var virtualDirPath = process.env.virtualDirPath || ''; -->
    <add key="virtualDirPath" value="/rural/crt_rest_api/" />
  </appSettings>

  <system.webServer>
    <!-- mimeMap enables IIS to serve particular file types as specified by fileExtension. -->
    <staticContent>
      <!--<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />-->
    </staticContent>

    <modules runAllManagedModulesForAllRequests="false" />

    <iisnode
        node_env="%node_env%"
        nodeProcessCountPerApplication="1"
        maxConcurrentRequestsPerProcess="1024"
        maxNamedPipeConnectionRetry="100"
        namedPipeConnectionRetryDelay="250"
        maxNamedPipeConnectionPoolSize="512"
        maxNamedPipePooledConnectionAge="30000"
        asyncCompletionThreadCount="0"
        initialRequestBufferSize="4096"
        maxRequestBufferSize="65536"
        uncFileChangesPollingInterval="5000"
        gracefulShutdownTimeout="60000"
        loggingEnabled="true"
        logDirectory="iisnode"
        debuggingEnabled="true"
        debugHeaderEnabled="false"
        debuggerPortRange="5058-6058"
        debuggerPathSegment="debug"
        maxLogFileSizeInKB="128"
        maxTotalLogFileSizeInKB="1024"
        maxLogFiles="20"
        devErrorsEnabled="true"
        flushResponse="false"
        enableXFF="false"
        promoteServerVars=""
        configOverrides="iisnode.yml"
        watchedFiles="web.config;*.js"
        nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

    <handlers>
      <!-- Handler for non Socket.io Apps -->
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />

      <!-- Handler for Socket.io Apps -->
      <!-- <add name="iisnode-socket.io" path="app.js" verb="*" modules="iisnode" /> -->
    </handlers>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <!--<remove segment="bin" />-->
        </hiddenSegments>
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" patternSyntax="Wildcard">
          <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <match url="*.*" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
        <rule name="SocketIO" patternSyntax="ECMAScript">
          <match url="socket.io.+" />
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
  </system.webServer>

</configuration>